@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tiro Devanagari Sanskrit', serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}


/* global variable */

:root {
    --nav-color: #F5F5F5;
    --background-color: white;
    --text-color: black;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    z-index: 70;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: var(--nav-color);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 1.5rem;
    font-weight: 400;
}

.logo i {
    margin-right: 10px;
}

.navbar {
    display: flex;
    column-gap: 2rem;
    align-items: center;
}

header a {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 300;
}

.navBtn {
    display: flex;
    column-gap: 2rem;
}

.button {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.button:hover {
    background-color: black;
    color: white;
}

.navbar a {
    color: var(--text-color);
    position: relative;
    text-decoration: none;
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #2e8abc;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s;
}

.navbar a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}


/* Cover Image Section */

.container {
    width: 100%;
    min-height: 640px;
    position: relative;
    display: flex;
}

.container img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.homeText {
    position: absolute;
    padding-left: 150px;
    padding-top: 200px;
    color: var(--text-color);
}

.homeText span {
    font-size: 2rem;
    font-weight: 600;
}

.homeText .btn {
    position: absolute;
    color: white;
    border: 1px solid #2e8abc;
    background-color: #2e8abc;
    padding: 10px;
    border-radius: 20px;
    font-size: 1rem;
}

.btn:hover {
    background-color: white;
    color: black;
}


/* Program section */

.programHeading,
.coachesHeading,
.utubeHeading {
    max-width: 968px;
    margin: 50px auto 10px auto;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid var(--main-color);
    border-bottom: 2px solid #2e8abc;
}

.container1 {
    display: grid;
    max-width: 960px;
    margin: 50px auto 0px auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
    gap: 2rem;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #2e8abc;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.card img {
    width: 200px;
    height: 250px;
}


/* Coaches Section */

.container2 {
    display: grid;
    max-width: 960px;
    margin: 50px auto 0px auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
    gap: 2rem;
}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 200px;
    margin: auto;
    text-align: center;
    font-family: arial;
    height: 550px;
}

.title {
    color: grey;
    font-size: 18px;
    text-align: center;
}

.card1 a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

.card1 img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    filter: blur(0);
    opacity: 1;
}

.card1 a:hover {
    opacity: 0.8;
}

.card1 .text {
    color: #2e8abc;
}

.card1:hover img {
    filter: blur(0.8px);
    opacity: 0.8;
}


/* Youtube section */

.utube {
    display: grid;
    max-width: 980px;
    margin: 50px auto 0px auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    gap: 1rem;
}

.utube iframe {
    margin: auto;
}


/* contact section */

.contact {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
    padding: 5px 0px;
    background-color: var(--nav-color);
}

.copyright {
    margin-left: 100px;
    color: black;
    font-size: 1.5rem;
}

.social {
    display: flex;
    gap: 0.5rem;
    margin-right: 100px;
}

.social .bx {
    padding: 2px;
    font-size: 1.5rem;
    color: black;
}

.social .bx:hover {
    opacity: 0.8;
}


/* Responsive */

@media (max-width:879px) {
    .title {
        font-size: 10px;
    }
    h1 {
        font-size: 12px;
    }
    .card1 a {
        font-size: 12px;
    }
    .card1 {
        height: 350px;
    }
}

@media (max-width:774px) {
    .navbar {
        display: none;
    }
    .homeText {
        padding-left: 30px;
    }
    .homeText span,
    h4 {
        font-size: 1rem;
    }
    .homeText .btn {
        font-size: 0.8rem;
    }
}

@media (max-width:560px) {
    .copyright {
        margin-left: 50px;
    }
    .social {
        margin-right: 50px;
    }
}

@media (max-width:480px) {
    .copyright {
        margin-left: 30px;
    }
    .social {
        margin-right: 20px;
    }
    .homeText {
        padding-left: 10px;
    }
    .homeText span,
    h4 {
        font-size: 0.8rem;
    }
    .homeText .btn {
        font-size: 0.5rem;
    }
}

@media (max-width:428px) {
    header .logo {
        font-size: 0.8rem;
    }
    .copyright {
        margin-left: 20px;
        font-size: 0.8rem;
    }
    .social {
        margin-right: 20px;
    }
    .social .bx {
        font-size: 0.8rem;
        padding: 1px;
    }
    .navBtn {
        column-gap: 1rem;
    }
    .button {
        padding: 2px;
        font-size: 0.8rem;
    }
}